@import url('https://rsms.me/inter/inter.css');

:root {
  --width: 700px;
  --font-size: 18px;
  --bg-color: white;
  --fg-color-1: #613DC1;
  --fg-color-2: #E8DBC5;
}

/* https://www.joshwcomeau.com/css/custom-css-reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  background: var(--bg-color);
  font-size: var(--font-size);
  font-family: 'Inter', sans-serif;
}

a, a:visited, a:active, a:hover {
  color: var(--fg-color-1);
}

h1, h2, h3, p {
  padding: 1ch 0 0.5ch 0;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 2ch;
  padding: 1ch;
  font-style: italic;
}

pre code {
  display: block;
  border: thin dotted black;
  line-height: 1.2;
  margin: 2ch 0 2ch 0;
  padding: 1ch;
  overflow-x: scroll;
}

main {
  max-width: var(--width);
  margin: auto;
  padding: 4ch 1ch 0 1ch;
}

hr {
  margin: 2ch 0 2ch 0;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--fg-color-1);
  border-bottom: thin solid black;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  max-width: var(--width);
  margin: auto;
}

.main-nav-links {
  padding: inherit;
}

.main-nav-item {
  display: inline-block;
  padding: 0.5ch;
}

.main-nav-item a {
  color: white;
  text-decoration: none;
}

.main-nav-item a:hover {
  text-decoration: underline;
}

.main-footer {
  margin-top: 2ch;
  border-top: thin solid black;
}

.main-footer-items {
  display: flex;
  max-width: var(--width);
  margin: auto;
}

.main-footer-item {
  margin: 1ch 0 1ch 0;
}

.post-tag-links {
  display: flex;
  align-items: center;
  padding: inherit;
  gap: 1ch;
}

.post-tag-item {
  display: inline-block;
}

.post-footer-links {
  display: flex;
  align-items: center;
  padding: inherit;
  gap: 1ch;
}

.post-footer-item {
  display: inline-block;
  padding: 1.5ch 0 0.5ch 0;
}

.post-header {
  display: flex;
  margin: 2ch 0 2ch 0;
  background: var(--fg-color-2);
  padding: 1ch;
  border: thin dotted black;
  border-radius: 0.5ch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-header-item {
  font-size: var(--font-size);
  padding: 0.1ch;
}

.post-header h1 {
  font-size: 2rem;
}

.post-tags-nav {
  font-size: 1rem;
  font-style: italic;
}

.posts-nav-date {
  font-style: italic;
}

.posts-nav-title {
  font-weight: bold;
}

.posts-nav-item {
  padding: 1ch;
}

.posts-nav-summary-more {
  white-space: nowrap;
}
