@import url('https://rsms.me/inter/inter.css');

:root {
  --width: 700px;
  --font-size: 18px;
  --bg-color: white;
  --accent-color-1: #613DC1;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-size: var(--font-size);
  font-family: 'Inter', sans-serif;
}

ul {
  padding: 0;
}

a, a:visited, a:active, a:hover {
  color: var(--accent-color-1);
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent-color-1);
}

.nav-links {
  display: flex;
  align-items: center;
  max-width: var(--width);
  margin: auto;
}

.nav-item {
  display: inline-block;
  padding: 1ch;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

main {
  max-width: var(--width);
  margin: auto;
}

.post-tag-links {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.post-tag-item {
  display: inline-block;
}

.post-footer-links {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.post-footer-item {
  display: inline-block;
}
