<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
    {{ if .IsHome }}
    <title>~{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title | lower }} | ~{{ .Site.Title }}</title>
    {{ end }}
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}/index.xml" title="ag blog">
  </head>

  <body>
    <header class="main-header">
      <nav class="main-nav">
        <ul class="main-nav-links">
          {{ $title := lower .Title }}
          {{ $section := lower .Section }}
          <li class="main-nav-item">
            <a href="{{ .Site.BaseURL }}">~</a>
          </li>

          {{ range .Site.Menus.main }}
          <li class="main-nav-item">
            <a href="{{ .URL }}">~/{{ lower .Name }}</a>
          </li>
          {{end}}
        </ul>

        <ul class="main-nav-links">
          {{ range .Site.Menus.socials }}
          <li class="main-nav-item">
            <a rel="me" href="{{ .URL }}">@{{ lower .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </header>

    <main>
      {{ block "main" . }}
      {{ end }}
    </main>

    <footer class="main-footer">
      <div class="main-footer-items">
        <p class="main-footer-item">
          {{ .Site.Params.footer }}
        </p>
      </div>
    </footer>
  </body>
</html>
