{{ define "main" }}
{{ .Content }}

<nav class="posts-nav">
  <ul class="posts-nav-items">
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ range $pages }}
    <li class="posts-nav-item">
      <a class="posts-nav-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      [<span class="posts-nav-date">{{ .Date.Format "01/02/06" }}</span>]

      <p class="posts-nav-summary">
        {{ trim .Summary "." | safeHTML }}&hellip;
        <a class="posts-nav-summary-more" href="{{ .RelPermalink }}">more &raquo;</a>
      </p>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
