{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Params.date }}
    <h2>{{ .Date.Format "2006/01/02" }}</h2>
    {{ end }}

    <ul>
      {{ range $i := (slice "categories" "tags") }}
      {{ with ($.Param $i) }}
      {{ $i | title }}: {{ range $k := . }}
      <li>
        <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
  </header>

  {{ .Content }}
</article>

<nav>
  <a href="/">home</a>
  |
  <a href="#top">top</a>
</nav>
{{ end }}
