{{ define "main" }}
<article>
  <header class="post-header">
    <h1 class="post-header-item">{{ .Title }}</h1>
    {{ if .Params.date }}
    <h2 class="post-header-item">{{ .Date.Format "2006/01/02" }}</h2>
    {{ end }}

    <nav class="nav-post-tags post-header-item">
      <ul class="post-tag-links">
        {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
        {{ range $k := . }}
        <li class="post-tag-item">
          <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{ $k }}</a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
      </ul>
    </nav>
  </header>

  {{ .Content }}
</article>

<nav class="nav-post-footer">
  <ul class="post-footer-links">
    <li class="post-footer-item">
      <a href="#top">top</a>
    </li>
    <li class="post-footer-item">
      <a href="/">home</a>
    </li>
  </ul>
</nav>
{{ end }}
